<h1>Old Messages</h1>


<!-- <div class="container">        
    <div class="card-columns">
        <div style="text-align:center" class="card col" 
            ng-repeat="message in messages | filter : filtermessages | orderBy : propName : direction" 
            ng-click="getBorderClass($index)" 
            ng-class="classCard[$index]">
            <h3 style="text-align:center">{{message.fname+" "+ message.lname}}</h3>
            <p   style="text-align:center">{{message.birthday | date}}</p>
            <img style="margin:0 auto; border-radius:25px" ng-src="{{message.imgURL}}" 
                 width="200px" height="295px">
            <br>
            <a style="text-align:center " href="{{message.imdbURL}}" target="_blank ">click me</a>
        </div>
    </div>
</div> -->