.msgbody{
    background-color:rgb(241, 235, 222);
    border: 1px solid black;    
}

.container{
    width: 100%;
    max-width: 100%;
}

.row{    
    margin: 2px;
    background-color: rgb(160, 130, 130);
    border: 1px solid black;    
}
input{
    background-color: rgb(1, 130, 130);
}
#newMsgForm{
    width: 300px;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid red;
}

.redBorder{
    border: 4px solid red;
}

.selected {
    background-color: rgb(168, 130, 130);
}

/* @media (max-width: 300px)
{
    .card-columns .card {
        display: inline-block!important;
        width: 100%!important;
    }
} */
