.novisible{
    display:none;
}
.rightfloat{
    float: right;
}
.nav-item-right{
    /* width:100%; */
    margin-left: 100%;
    margin-right: 0;
    /* float: right; */
    border: 1px solid black;    
}

.msgbody{
    background-color:rgb(241, 235, 222);
    border: 1px solid black;    
}

.container{
    /* width: 100%;
    max-width: 100%;
    margin: 0 auto; */
}
.card{
    border: 2px solid red;    
    margin: 5 auto;
}

.row{    
    margin: 0 auto;
    background-color: rgb(236, 220, 220);
    border: 1px solid black;    
}
 /* .col{}  */

input{
    background-color: rgb(1, 130, 130);
}

.formVaadBait{
    width: 300px;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid red;  
}

#newMsgForm{
    width: 300px;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid red;
}

/* @media (max-width: 300px)
{
    .card-columns .card {
        display: inline-block!important;
        width: 100%!important;
    }
} */
