<div id="formvote" class="formVaadBait">
    <!-- <div class="form-group" ng-init="uEmail='u1@gmail.com';uPassw='u1pass'" > -->
       <form action="">      
       </form>
       {{vote.voteText}}ggg
              <br>
              <form>  
    <div ng-repeat="key in getKeys(vote.voteResult) track by $index " >
            <!-- <input type="radio" name="gender" value="myvote"> Male<br>
            <input type="radio" name="gender" value="myvote"> Female<br>
            <input type="radio" name="gender" value="myvote"> Other -->
            <input type="radio" name="nnn" ng-model="myOption[$index]" ng-change="clicked( parentIndex ,$index)" value="{{key}}">{{key}}<br> 
            
    </div> 
    <button type="button" ng-click="sendVoteChoise (myOption[$index],key) ;">Send</button> 
<hr>
    <div>
           
    </div> 

          
    </form>   
</div>
