<div id="formvote" class="formVaadBait">
    <!-- <div class="form-group" ng-init="uEmail='u1@gmail.com';uPassw='u1pass'" > -->
        Vote №: {{vote.voteId}}
        <h6>{{vote.voteName}}</h6>
        {{vote.voteText}}     
    <!-- {{getActiveUser().uVotesIds.includes(vote.voteId)? isvisible="novisibl" : isvisible="" }} -->
     
        <div ng-repeat="key in getKeys(vote.voteResult)" >       
            <div class='{{ getActiveUser().uVotesIds.includes(vote.voteId)? "novisible" : "" }}'>
                <input type="radio" name="nnn" ng-click="clicked(key)" value="{{key}}">{{key}}<br>
            </div>           
            <div class='{{!getActiveUser().uVotesIds.includes(vote.voteId)? "novisible" : "" }}'>
               {{key}} : {{vote.voteResult[key]}}
            </div>
        </div>
        <br>
         <button class='{{ getActiveUser().uVotesIds.includes(vote.voteId)? "novisible" : "" }}' type="button" ng-click="sendVoteChoice(vote);">Send</button>   
</div>
<hr>

